body{
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#root{
  height: 100vh;
  width: 100%;
}

.canvas-wrapper{
  width: 100%;
  height: 100%;
}
.app-loader{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
}
#loading{

  background: white;
  position: absolute;

}
.please-wait{
  font-size: 12px;
  color: white;
  text-align: center;
  position: absolute;
  z-index: 99;
  top: 60%;
}
.running {
  --color: #fff;
  --duration: 0.6s;
  .outer {
    animation: outer var(--duration) linear infinite;
    .body {
      background: var(--color);
      height: 15px;
      width: 8px;
      border-radius: 4px;
      transform-origin: 4px 11px;
      position: relative;
      transform: rotate(32deg);
      animation: body var(--duration) linear infinite;
      &:before {
        content: '';
        width: 8px;
        height: 8px;
        border-radius: 4px;
        bottom: 16px;
        left: 0;
        position: absolute;
        background: var(--color);
      }
      .arm,
      .arm:before,
      .leg,
      .leg:before {
        content: '';
        width: var(--w, 11px);
        height: 4px;
        top: var(--t, 0);
        left: var(--l, 2px);
        border-radius: 2px;
        transform-origin: 2px 2px;
        position: absolute;
        background: var(--c, var(--color));
        transform: rotate(var(--r, 0deg));
        animation: var(--name, arm-leg) var(--duration) linear infinite;
      }
      .arm {
        &:before {
          --l: 7px;
          --name: arm-b;
        }
        &.front {
          --r: 24deg;
          --r-to: 164deg;
          &:before {
            --r: -48deg;
            --r-to: -36deg;
          }
        }
        &.behind {
          --r: 164deg;
          --r-to: 24deg;
          &:before {
            --r: -36deg;
            --r-to: -48deg;
          }
        }
      }
      .leg {
        --w: 12px;
        --t: 11px;
        &:before {
          --t: 0;
          --l: 8px;
        }
        &.front {
          --r: 10deg;
          --r-to: 108deg;
          &:before {
            --r: 18deg;
            --r-to: 76deg;
          }
        }
        &.behind {
          --r: 108deg;
          --r-to: 10deg;
          --c: none;
          &:before {
            --c: var(--color);
            --r: 76deg;
            --r-to: 18deg;
          }
          &:after {
            content: '';
            top: 0;
            right: 0;
            height: 4px;
            width: 6px;
            clip-path: polygon(2px 0, 6px 0, 6px 4px, 0 4px);
            border-radius: 0 2px 2px 0;
            position: absolute;
            background: var(--color);
          }
        }
      }
    }
  }
}

@keyframes outer {
  50% {
    transform: translateY(0);
  }
  25%,
  75% {
    transform: translateY(4px);
  }
}

@keyframes body {
  50% {
    transform: rotate(16deg);
  }
  25%,
  75% {
    transform: rotate(24deg);
  }
}

@keyframes arm-leg {
  50% {
    transform: rotate(var(--r-to));
  }
}

@keyframes arm-b {
  30%,
  70% {
    transform: rotate(var(--r-to));
  }
}
.go-text{
  text-decoration: underline;
  cursor: pointer;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
  font-family: 'Roboto', sans-serif;
}

.container {
  border-radius: 4px;
  padding-left: 8px;
  padding-right: 8px;
  position: absolute;
  bottom: 16px;
  background: black;
  max-width: max-content;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
  left: 50%;
}

.typewriter {
  color: #fff;
  display: inline-block;
  font-size: 1em;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid white;
  animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: white; }
}